    * {
        font-family: 'Jua', sans-serif;
    }
     .wrap {
        background-color: lightgray;
        width: 400px;
        margin: auto;
         border-radius: 10px;
    }

    .mytitle {
        color: white;
        background-color: lightgray;

        width: 400px;
        height: 200px;
        text-align: center;

        background-image: url("https://www.ancient-origins.net/sites/default/files/field/image/Agesilaus-II-cover.jpg");
        background-size: cover;
        background-position: center;

        border-radius: 10px;
        padding-top: 40px;
    }
    .register {
        margin: 5px;
    }
    .register > button {
        margin : 10px auto 10px 5px
    }


